.main-container{
  min-height: 82vh;
  display: flex;
}
.searchbox{
    background-color: #dddddd;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    border-bottom: 1px solid #000;
}
.searchbox:active,.searchbox:focus{
    outline: 2px solid violet;
    border-bottom:none;
}
.subject-section{
    padding: 10px 20px;
    border-right: 1px solid black;
  }
  .subject-section h3{
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: pink;
  }
  .subject-list{
    padding-top: 20px;
  }
  .subject-list p{
    font-family: sans-serif;
    padding: 5px;
    cursor: pointer;
  }
  button{
    margin-right: 20px;
    padding: 10px 20px;
    border:none;
    background-color: blueviolet;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    transition: .5s;
}
button:hover{
  transform: scale(0.99);
}
@media (width<=750px){
  .main-container{
    min-height: 60vh;
  }
  button{
    padding: 5px 10px;
  }
  .subject-section h3{
    padding: 10px;}
}