table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th{
    border-left: 2px solid black;
  }
  thead tr:nth-child(Odd) , tbody tr:nth-child(Even){
    background-color: #dddddd;
  }
  @media (width<=750px){
     table {
        width:90%;
     }
     td,th{
      padding: 5px;
      font-size: 10px;
     }
  }